.card{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.icon{
    font-size: 30px;
    width: fit-content;
}

.red{
    background-color: rgb(241, 66, 66);
}
.green{
    background-color: rgb(102, 199, 102);
}

.orange{
    background-color: rgb(238, 165, 30);
}

.blue{
    background-color: rgb(88, 88, 240);
}