<mat-list role="list">

    
        <div class="profile-card">
            <img src="https://pbs.twimg.com/media/EN8uYp_WoAU7Y8y.jpg" alt="no image">
            <h2>Admin</h2>
            <h4>admin@ceoxy.com</h4>
        </div>
        <mat-divider></mat-divider>
        <h4 matsubheader style="padding-top: 5px; padding-left: 3px;"><b>Pages</b></h4>
        <a mat-list-item routerLinkActive="list-item-actvie" routerLink="./">Dashboard</a>
        <a mat-list-item routerLinkActive="list-item-actvie" routerLink="./">Institution</a>
        <a mat-list-item routerLinkActive="list-item-actvie" routerLink="./">Students</a>
        <a mat-list-item routerLinkActive="list-item-actvie" routerLink="./">Placements</a>
        <a mat-list-item routerLinkActive="list-item-actvie" routerLink="./">Statistics</a>
        <a mat-list-item routerLinkActive="list-item-actvie" routerLink="./">Courses</a>
        <a mat-list-item routerLinkActive="list-item-actvie" routerLink="./">Employees</a>
    

  </mat-list>